.filters{
	width: 245px;
	padding-left: 15px;

	@include breakpoint($mobile-bp){
        width: 100%;
        padding-left: 0;

        display: none;
    }
}

.filters__title{
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	padding-left: 1rem;

	&:after{
		content: "";
	    background-color: rgb(245, 245, 245);
	    display: block;
	    height: 1px;
	    margin: 15px 0;
	    opacity: 0.1;
	}

	@include breakpoint($mobile-bp){
        display: none;
    }
}

.filters__list{
	display: flex;
	flex-direction: column;
}

.filters__item{
	position: relative;

	&:after{
		content: "";
	    background-color: rgb(245, 245, 245);
	    display: block;
	    height: 1px;
	    margin: 6px 5px 14px;
	    opacity: 0.1;
	}
}

.filters__link{
	display: block;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	color: gray;
	text-decoration: none;
	padding: 2rem 1.2rem;
	line-height: 1.2;
	transition: color .1s linear;

	&.has-subnav{
		position: relative;
		padding-right: 3.5rem;
		&:after{
			content: "";
			display: block;
			margin-top: 2px;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: gray transparent
			transparent transparent;
			transition: border-color .1s linear;

			position: absolute;
			top: 50%;
			right: 1.35rem;
			transform: translateY(-50%);
		}
	}
	&.rotate{
		&:after{
			margin-top: -5px;
			transform: rotate(180deg);
		}
	}
	&:hover{
		color: #fff;
		&:after{
			border-color: #fff transparent
			transparent transparent;
		}
		&:focus{
			border: 1px solid #fff;
			border-radius: 3px;
		}
	}
	&:focus{
		border: 1px solid gray;
		border-radius: 3px;
		padding: 2rem 1.1rem;
	}
}

.filters__subnav{
	display: none;
	width: 100%;
	padding: .5rem 0;

	background-color: inherit;

	top: 100%;
	left: 0;

	&--active{
		display: block;
	}
	li{
		padding: 3px 0;
	}
}

.filters__sublink{
	display: block;
	padding: 1rem 1.2rem;
	color: gray;
	font-size: 1.4rem;
	font-weight: 500;
	text-decoration: none;
	transition: color .1s linear;
	border-radius: 3px;

	&:hover{
		color: #fff;
	}

	&.active{
		position: relative;
		background-color: #484848;
		color: #fff;

		&:after{
			content: "";
			display: block;
			width: 15px;
			height: 15px;

			background-image:
			url(https://upload.wikimedia.org/wikipedia/commons/2/27/White_check.svg);
			background-repeat: no-repeat;
			background-size: 15px;

			position: absolute;
			top: 50%;
			right: 1.35rem;
			transform: translateY(-50%);
		}
	}
}


.mini__filters{
	display: none;

	@include breakpoint($mobile-bp){
        display: flex;
    }

    width: 120px;
    margin: auto;

	color: #fff;
	font-size: 18px;
	font-weight: 500;
	position: relative;

	padding: 10px 0;

	justify-content: center;


	&:after{
		content: "";
		display: block;
		margin-top: 2px;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: gray transparent
		transparent transparent;
		transition: border-color .1s linear;

		position: absolute;
		left: 90%;
		top: 50%;
		right: 1.35rem;
		transform: translateY(-50%);
	}
	
	&.arrow{
		&:after{
			display: none;
		}
	}
}

.filters__btn{
	display: none;

	@include breakpoint($mobile-bp){
        display: block;
    }

	width: 75%;
	text-align: center;
	background-color: green;
	padding: 10px 0;
	border-radius: 10px;

	font-size: 16px;
	font-weight: 500;

	margin: auto;
	margin-bottom: 20px;
}