.game__header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include breakpoint($mobile-bp){
    	flex-wrap: wrap;
  }
}

.game__content{
	display: flex;

	@include breakpoint($mobile-bp){
    	flex-wrap: wrap;
    	flex-direction: column-reverse;
  }
}

.game__left{
	width: calc(100% - 384px);
	height: 100%;

	@include breakpoint($middle-bp){
     width: 60%;
  }

	@include breakpoint($mobile-bp){
    	width: 100%;
  }
}

.game__title-img{
	max-height: 220px;
	width: auto;
	max-width: 100%;
	padding: 20px;
	padding-top: 40px;

	@include breakpoint($mobile-bp){
    padding-top: 20px;
  }
}

.game__short-description{
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 20px;
}

.game__tags{
	display: flex;
	margin-bottom: 20px;
}

.game__tags-item{
	width: 50%;
	border-left: 1px solid rgba(#fff, .1);
	padding: 0 20px;
}

.game__tags-title{
	font-size: 14px;
	color: rgb(#fff, .5);
	font-weight: 500;
}

.game__item__tags{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}

.game__tags-tag{
	text-decoration: underline;
	font-size: 14px;
	font-weight: 500;
	margin-right: 7px;
	color: rgba(#fff, .9);
}

.game__descriptions__item{
	margin-bottom: 20px;
}

.game__descriptions__item-title{
	font-size: 15px;
	font-weight: 500;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.game__descriptions__item-text{
	font-size: 14px;
	color: rgba(#fff, .5);
	font-weight: 500;

	ul{
		list-style: inside;
	}
}


.game__right{
	position: absolute;
	right: 12.5%;
	width: 320px;
	margin-left: 64px;
	text-align: center;

	@include breakpoint($middle-bp){
      width: 30%;
      margin-left: 0;
      right: 50px;
  }

	@include breakpoint($mobile-bp){
			width: 100%;
    	position: static;
    	margin-bottom: 20px;
  }
}

.game__collection{
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #fff;
	border-radius: 3px;
	background-color: green;
	padding: 5px 0;
	margin-bottom: 20px;

	color: #fff;
	font-size: 14px;
	font-weight: 500;

	width: 100%;

	&:hover{
		background-color: rgb(green, .8);
	}
}

.circle{
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  margin: 4px;
  display: inline-block;
  vertical-align: middle;

  &.plus:before, &.plus:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background:green;
	}

	&.plus:before{
	    width: 2px;
	    margin: 3px auto;
	    background-color: #fff;
	}
	&.plus:after{
	    margin: auto 3px;
	    height: 2px;
	    background-color: #fff;
	}
}

.game__collection-title{
	margin-left: 5px;
}

.game__right-item{
	display: flex;
	justify-content: space-between;
	padding: 7px 0 10px;

	border-bottom: 1px solid rgba(#fff, .1);
}

.game__right-title{
	color: rgba(#fff, .5);
	font-size: 16px;
	font-weight: 500;
}

.game__right-text{
	display: flex;
	font-size: 16px;
	font-weight: 500;
}

.game__right__icon{
	width: 20px;
	height: 20px;
	fill: #fff;
	margin-left: 10px;
}
