.game__rating{
	display: flex;
	margin: auto;
}

.game__rating__item + .game__rating__item{
	margin-left: 30px;
}

.game__title{
	font-size: 40px;
	margin-bottom: 20px;
	line-height: 3;

	@include breakpoint($mobile-bp){
    	font-size: 30px;
    	line-height: 1.2;
  	}
}

.game__rating-title{
	font-size: 18px;
	font-weight: 500;
	color: rgba(#fff, .7);

	text-align: center;
}

.game__rating__grade{
	display: flex;
	justify-content: center;
	padding: 5px;

	&[data-modal]{
		&:hover{
			background-color: rgba(#000, .8);
		}
		cursor: pointer;
		border-radius: 5px;
	}
}

.game__rating__grade-icon{
	fill: #f5c518;
	width: 25px;
	height: 25px;
	margin-right: 5px;

	&.green{
		fill: #01DF01;
	}
}

.game__rating__grade-grade{
	font-size: 20px;
	font-weight: 500;
	color: #fff;
}

.game__rating__grade-number{
	font-size: 18px;
	font-weight: 500;
	color: rgba(#fff, .7);
	line-height: 1.6;
}