.gameList{
	width: 100%;
	margin: 50px 0 30px;

	@include breakpoint($mobile-bp){
    	margin-top: 20px;
    }

	&--four{
		.gameList__games{
			margin: 0 -1%;

			@include breakpoint($mobile-bp){
		        overflow-x: none;
		        flex-wrap: wrap;
		    }
		}
		.gameList__item{
			width: calc(1/4*100% - 2%);
  			margin: 0 1% 50px;

  			@include breakpoint($mobile-bp){
		        width: 48%;
		        margin: 0 1% 20px;
		    }
		}
		.gameList__img{
			width: 100%;
			height: 70%;
			border-radius: 5px;
			margin-bottom: 20px;
		}
	}
}

.gameList__header{
	display: flex;
	justify-content: space-between;

	@include breakpoint($mobile-bp){
		flex-wrap: wrap;
		justify-content: center;
	}
}

.gameList__nav{
	display: flex;

	@include breakpoint($mobile-bp){
		display: none;
	}
}

.gameList__nav-link{
	padding: 10px;
	background-color: #3b3b3b;
	margin-left: 10px;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	text-align: center;
	font-size: 1.7rem;
	line-height: .5;

	text-decoration: none;
	color: #fff;

	&:hover{
		background-color: #494949;
	}
	&.inactive{
		background-color: #3b3b3b;
		color: #7f7f7f;
		pointer-events: none;
	}
}

.gameList__title{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	font-size: 20px;

	@include breakpoint($mobile-bp){
		font-size: 30px;
		text-align: center;
	}
}

.gameList__games{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 20px -.75% 60px;

	@include breakpoint($tablet-bp){
		margin-bottom: 80px;
	}
	@include breakpoint($mobile-bp){
		margin-bottom: 20px;
	}

	@include breakpoint($mobile-bp){
		overflow-x: auto;
		flex-wrap: nowrap;
		&::-webkit-scrollbar {
		  width: 0;
		}
	}
}

.gameList__item{
	display: flex;
	flex-direction: column;
	width: calc(1/5*100% - 1.5%);
  	margin: 0 .75%;

  	text-decoration: none;

  	@include breakpoint($tablet-bp){
		&:nth-child(5){
			display: none;
		}
		width: calc(1/4*100% - 1.5%);
  		margin: 0 .75%;
	}
	@include breakpoint($mobile-bp){
		width: 100%;
		&:nth-child(5){
			display: flex;
		}
		&.gameList__item + &.gameList__item{
			//margin-left: 25px;
		}
	}
}

.gameList__img{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 5px;
	flex-grow: 1;

    position: relative;
    
    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
    }

    &:after{
        content: "";
        opacity: 0;
        transition: opacity 0.2s linear;
    }

    &:hover {
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            opacity: 1;
            border-radius: 5px;
    
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background: rgba(216, 216, 216, 0.1);
        }
    }
    @include breakpoint($mobile-bp){
		width: 300px;
	}
}

.gameList__item-title{
	font-weight: 500;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

.gameList__item-developer{
	font-weight: 500;
	color: rgba(#fff, .5);
	margin-bottom: 5px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.gameList__tags{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 15px;
	height: 25px;

	&.hidden{
		display: none;
	}

	@include breakpoint($mobile-bp){
		margin-top: 0;
		height: 50px;
	}
}

.gameList__tag{
	background-color: green;
	color: #fff;
	padding: 5px 10px;
	font-weight: 500;
	font-size: 10px;
	text-decoration: none;
	border-radius: 5px;
	margin: 0 7.5px 10px 0;

	&:last-child{
		margin-right: 0;
	}

	@include breakpoint($tablet-bp){
		padding: 3px 7px;
		margin-bottom: 5px;

		&:nth-child(4){
			display: none;
		}
	}
}

.gameList__price{
	text-align: right;
}

.gameList__original{
	font-weight: 500;
	color: rgba(#fff, .5);
	text-decoration: line-through;
}

