.game__social{
	margin-bottom: 20px;
}

.game__social__items{
	width: 100%;
	background-color: rgba(#3b3b3b, .3);
	border-radius: 5px;
}

.game__social-title{
	font-size: 18px;
	font-weight: 500;
	color: rgb(#fff, .8);
	margin-bottom: 15px;
}

.game__social__items{
	display: flex;
	padding: 30px 0;

	justify-content: center;
}

.game__social__item{
	text-decoration: none;
	margin: 0 20px;
}

.game__social__icon{
	width: 26px;
	height: 26px;

	fill: #bababa;

	transform: fill .2s linear, transform .2s linear;

	&:hover{
		fill: #fff;
		transform: translateY(-1px);
	}
}