<header class="header">
	<div class="header__inner">
	    <div class="header__left">
	        <a href="index.html">
	            <img src="assets/images/monitor_gr.png" alt="" class="header__logo">
	        </a>
	        <ul class="header__list">
	            <li class="header__list-item">
	                <a class="header__list-link" href="index.html">Магазин</a>
	            </li>
	            <li class="header__list-item">
	                <a class="header__list-link" href="#">Новости</a>
	            </li>
	            <li class="header__list-item">
	                <a class="header__list-link" href="#">Часто задаваемые вопросы</a>
	            </li>
	        </ul>
	    </div>
	    <div class="header__right">
	        <a href="signin.html" class="header__enter">
	            <img src="assets/images/vr_helmet_gr.png" class="header__enterImage" alt="">
	            <div class="header__enterText">Выполнить вход</div>
	        </a>
	    </div>
	</div>
	<div class="mainHeader">
	    <div class="mainHeader__inner">
	        <div class="mainHeader__links">
	            <a class="mainHeader__link" href="index.html">Главная</a>
	            <a class="mainHeader__link" href="gallery.html">Все игры</a>
	        </div>
	        <form class="search" action="gallery.html" method="get">
	            <svg class="search__icon">
	                <use xlink:href="#search"></use>
	            </svg>
	            <input class="search__input" type="text" placeholder="Поиск">
	        </form>
	    </div>
	</div>
</header>