<div class="modal"  id="rating-modal">
	<div class="modal__content">
		<button class="modal__close" type="button">
			<img src="assets/images/close.svg" alt="">
		</button>
		<div class="modal__content__star">
			<div class="modal__content__counter"></div>
			<svg class="modal__content-icon">
				<use xlink:href="#star"></use>
			</svg>
		</div>
		<div class="modal__content__title">оцените это</div>
		<div class="modal__content__game-title">Far Cry 6</div>
		<div class="modal__content__stars"></div>
		<div class="modal__content__btn">Оценить</div>
	</div>
</div>